*,
*::before
*::after{
    box-sizing: border-box;
}
*{
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
img{
    height: 250px;
    width: 350px;
}
.card_container{
    width: 350px;
    height: 250px;
    margin: 100px auto;
    perspective: 1000px;
}


.card{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}
.frontcard,.backcard{
    position: absolute;
   width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden; 
    box-shadow: 0 6px 12px rgba(red, green, blue);
}
.backcard{
    position: relative;
    padding: 2px;
    border-radius: 15px;
    background: linear-gradient(90deg, pink,red,yellow,violet);
    animation: flow-border 3s linear infinite;
    transform: rotateY(180deg);
    background-size: 300% 300%;
    height: auto;
     
}
.backcard_content{
    background-color: black;
    color: white;
    border-radius: 13px;
    padding: 16px 20px 12px 20px;
    height: 100%;
     overflow-y: auto;
     text-align: left;
     
}
.name{
    font-size: 10px;
    letter-spacing: 2px;
    color: aqua;
    text-transform: uppercase;
    font-weight: 300;
}
.title{
    font-weight: 700;
    font-size: 20px;
    margin: 8px 0;
}
.card_container:hover .card{
    transform: rotateY(180deg);

}
@keyframes flow-border{
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}
.btn{
    background-color: greenyellow ;
    border-radius: 5px;
    cursor:pointer;

}
